In [16]:
import pandas as pd
import numpy as np

In [17]:
location2 = "INCOME_TERRORISM.xlsx"
income_df = pd.read_excel(location2)
income_df.head(20)

          COUNTRY PER CAPITAL GNI (US$) HDI RANKING  NUMBER OF INCIDENTS 2012
0         Algeria                  7418          93                        15
1          Angola                  4812         148                         0
2         Burundi                   544         178                         8
3            Chad                  1258         184                         0
4           Congo                   319         186                        16
5   Cote d'Ivoire                  1593         168                         3
6        Djibouti                  2350         164                         0
7           Egypt                  5401         112                        18
8         Eritrea                   531         181                         1
9        Ethiopia                  1017         173                         3
10          Kenya                  1541         145                        41
11        Liberia                   480         174                         0
12          Libia                 13765          64                         2
13      Madagscar                   828         151                         1
14     Mauritania                  2174         155                         3
15        Morocco                  4384         130                         1
16     Mozambique                   906         185                         0
17        Namibia                  5973         128                         0
18          Niger                   701         186                         2
19        Nigeria                  2102         153                       173

In [18]:
income_df.head()

   COUNTRY PER CAPITAL GNI (US$) HDI RANKING  NUMBER OF INCIDENTS 2012
0  Algeria                  7418          93                        15
1   Angola                  4812         148                         0
2  Burundi                   544         178                         8
3     Chad                  1258         184                         0
4    Congo                   319         186                        16

In [19]:
income_df.columns

Index(['COUNTRY', 'PER CAPITAL GNI (US$)', 'HDI RANKING',
       'NUMBER OF INCIDENTS 2012'],
      dtype='object')

In [21]:
income_df.dtypes

COUNTRY                     object
PER CAPITAL GNI (US$)       object
HDI RANKING                 object
NUMBER OF INCIDENTS 2012     int64
dtype: object

In [22]:
income_df.count()

COUNTRY                     27
PER CAPITAL GNI (US$)       27
HDI RANKING                 27
NUMBER OF INCIDENTS 2012    27
dtype: int64

![picture1](https://res.cloudinary.com/de3ww3bmt/image/upload/v1560526614/Picture1_pwzzmd.png)

In [ ]:
![picture2]()